app-header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

app-heroes {
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  /* border: 1px solid black; */
}

app-footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}
