.hero-name-item-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5em;
  cursor: pointer;
}

.hero-item-container:hover {
  background-color: rgba(218, 165, 32, 0.747);
  transition: ease-in-out 0.5s;
}

.hero-item-img {
  border-radius: 50%;
  cursor: pointer;
}

.hero-item-name,
.hero-item-description {
  cursor: pointer;
}

.hero-item-description {
  padding: 5px;
}
